@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h1>@ViewData["Title"]</h1>*@
<partial name="_Background" />
<div class="row d-flex justify-content-center align-items-center">
    <div class="jumbotron col-md-4">
        <img src="/img/brand/kurbside/vector/Full Logo.svg" alt="KurbSide by Arctic Thread Logo" /><br /><br />
        <a id="register-page-login" class="btn btn-lg btn-block btn-primary" asp-area="Identity" asp-page="/Account/Login">Log In</a>
        <a id="register-page-member-register" class="btn btn-lg btn-block btn-primary" asp-area="Identity" asp-page="/Account/MemberRegister">Register</a>
        <a id="register-page-business-register" class="btn btn-sm btn-block btn-dark btn-dark" asp-area="Identity" asp-page="/Account/BusinessRegister">Register as a Business</a>
    </div>
</div>