@model KurbSide.Models.Business
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-sm-center">@Model.BusinessName Dashboard</h5>
        <p class="card-text text-sm-center"><span class="text-secondary">KurbSide Id </span>@Model.BusinessId</p>
    </div>
</div>

<br />