.barcode {
    height: 1.5em;
    width: 6em;
    margin-bottom: .2em;
    image-rendering: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.qrcode {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: .2em;
    image-rendering: auto;
    image-rendering: -moz-crisp-edges;
}

.none {
    display: none;
    height: 0;
}