@{
    ViewData["Title"] = "Business Report Listing";
}


<vc:business-head/>

<div class="card-group">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-sm-center">Navigation</h5>
            <p class="card-text">
                <div class="btn-group-vertical w-100" role="group">
                    <a asp-controller="Reports" asp-action="ViewAllItemsReport" class="btn btn-secondary">View All Items Report</a>
                    <a asp-controller="Reports" asp-action="ViewAvailableItemsReport" class="btn btn-secondary">View All Available Items Report</a>
                    <a asp-controller="Reports" asp-action="ViewRemovedItemsReport" class="btn btn-secondary">View all Removed Items Report</a>
                    <a asp-controller="Reports" asp-action="" class="btn btn-secondary">Work in progress</a>
                    
                </div>
            </p>
        </div>
    </div>
</div>