.pointer {
    cursor: pointer;
}

tr.hover-controls {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000000000000;
}

tr.hover-controls > td {
    padding-top: 0;
    border: 1px solid #dee2e6;;
    border-top: 0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 4px 4px #AAA;
}

tr.hover-controls:hover,
tr:not(.hover-controls):hover + tr.hover-controls {
    display: table;
}

.hiddenbtn {
    display: none;
}