@model KurbSide.Models.Item
@{
    ViewData["Title"] = "Business Add Item";
}
<style>
    /* Chrome, Safari, Edge, Opera */
    .noArrowsOnInputNumber::-webkit-outer-spin-button,
    .noArrowsOnInputNumber::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .noArrowsOnInputNumber[type=number] {
        -moz-appearance: textfield;
    }
</style>
<script src="~/js/Business/ItemManagement/Add.js"></script>
<script src="jquery-3.5.1.min.js"></script>
<vc:business-head />

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Business" asp-action="AddItem">
            <h5 class="card-title text-sm-center align-content-center">Add Item</h5>

            <input hidden type="text" asp-for="BusinessId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ItemName" class=""></label>
                            <input type="text" asp-for="ItemName" class="form-control" />
                            <span asp-validation-for="ItemName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Price" class=""></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" asp-for="Price" class="form-control" step="0.01" />
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Details" class=""></label>
                            <textarea asp-for="Details" class="form-control" style="height:124px;"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Category" class=""></label>
                            <input type="text" asp-for="Category" class="form-control" />
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Sku" class=""></label>
                            <input type="text" asp-for="Sku" class="form-control" />
                            <span asp-validation-for="Sku" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Upc" class=""></label>
                            <input type="number" asp-for="Upc" class="form-control noArrowsOnInputNumber" />
                            <span asp-validation-for="Upc" class="text-danger"></span>
                        </div>

                        <label for="itemImageEdit">Item Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input id="itemImage" name="itemImage" type="file" class="custom-file-input" accept=".jpe, .jpg, .jpeg, .bmp, .gif, .png">
                                <label id="labelForItemImage" for="itemImage" class="custom-file-label"></label>
                            </div>
                            <div class="input-group-append">
                                <button id="resetImage" name="resetImage" type="button" class="btn btn-outline-danger">Reset</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="row justify-content-between">
                    <a class="btn btn-sm btn-secondary" asp-action="Catalogue">Back to Catalogue</a>
                    <button class="btn btn-sm btn-success" id="catalogue-SubmitItem" type="submit">Add Item</button>
                </div>
            </div>
            <hr />
            <div class="card-title text-sm-center align-content-center">
                <img draggable="false" src="@Model.ImageLocation" style="max-width: 600px" id="imagePreview" class="align-self-center" hidden />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}