@model KurbSide.Models.Business
@{
    ViewData["Title"] = "Business Dashboard";
}
<vc:business-head />

<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="Business" asp-action="EditBusiness" asp-route-id="@Model.BusinessId">
            <input hidden type="text" asp-for="BusinessId" />
            <input hidden type="text" asp-for="AspNetId" />

            <div class="container container-fluid">
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="BusinessName" class=""></label>
                            <input type="text" asp-for="BusinessName" class="form-control" />
                            <span asp-validation-for="BusinessName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StoreIdentifier" class=""></label>
                            <input type="text" asp-for="StoreIdentifier" class="form-control" />
                            <span asp-validation-for="StoreIdentifier" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber" class=""></label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Street" class=""></label>
                            <input type="text" asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StreetLn2" class=""></label>
                            <input type="text" asp-for="StreetLn2" class="form-control" />
                            <span asp-validation-for="StreetLn2" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="City" class=""></label>
                            <input type="text" asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Postal" class=""></label>
                            <input type="text" asp-for="Postal" class="form-control" />
                            <span asp-validation-for="Postal" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label asp-for="ProvinceCode" class=""></label>
                            <select type="text" asp-for="ProvinceCode" asp-items="ViewBag.ProvinceCode" class="form-control"></select>
                            <span asp-validation-for="ProvinceCode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CountryCode" class=""></label>
                            <select type="text" asp-for="CountryCode" asp-items="ViewBag.CountryCode" class="form-control"></select>
                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BusinessNumber" class=""></label>
                            <input type="text" asp-for="BusinessNumber" class="form-control" />
                            <span asp-validation-for="BusinessNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ContactPhone" class=""></label>
                            <input type="text" asp-for="ContactPhone" class="form-control" />
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ContactFirst" class=""></label>
                            <input type="text" asp-for="ContactFirst" class="form-control" />
                            <span asp-validation-for="ContactFirst" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ContactLast" class=""></label>
                            <input type="text" asp-for="ContactLast" class="form-control" />
                            <span asp-validation-for="ContactLast" class="text-danger"></span>
                        </div>

                    </div>

                </div>
                <div class="row justify-content-between">
                    <a class="btn btn-sm btn-secondary" asp-action="Index">Back to Dashboard</a>
                    <button class="btn btn-sm btn-success" type="submit">Save Changes</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}