@model KurbSide.Models.Business
@{
    ViewData["Title"] = "Business Dashboard";
}

<link href="~/css/Business/Dashboard.css" rel="stylesheet"/>
<link href="~/css/Business/BusinessShared.css" rel="stylesheet"/>

<vc:business-head/>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-sm-center">Navigation</h5>
            <p class="card-text">
                <div class="btn-group-vertical w-100" role="group">
                    <a asp-controller="Business" asp-action="EditBusiness" id="dashboard-edit-business" class="btn btn-secondary">Edit Business Info</a>
                    <a asp-controller="Business" asp-action="EditBusinessHours" id="dashboard-business-hours" class="btn btn-secondary">Edit Hours</a>
                    <a asp-controller="Business" asp-action="Catalogue" id="dashboard-catalogue" class="btn btn-secondary">Edit Catalogue</a>
                    <a asp-controller="Business" asp-action="ViewSales" id="dashboard-sales" class="btn btn-secondary">Manage Sales</a>
                    <a asp-controller="Business" asp-action="Orders" id="dashboard-orders" class="btn btn-dark">All Orders</a>
                    <a asp-controller="Reports" asp-action="ViewAllReportList" id="dashboard-reports" class="btn btn-secondary">Reporting</a>
                </div>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-sm-center">Orders</h5>
            <nav>
                <div class="nav nav-tabs w-100 nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-pend" role="tab">Pending</a>
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-open" role="tab">Open</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-closed" role="tab">Closed</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-pend" role="tabpanel">
                    <br/>
                    <small class="d-block w-100 text-center">Viewing 10 Most Recent Pending Orders</small>
                    <a class="btn btn-sm btn-block" style="margin-bottom: 1rem;">View All Pending Orders</a>
                    <hr/>
                    <ul class="list-group list-group-flush">
                        <vc:order-peek view="1"/>
                    </ul>
                </div>
                <div class="tab-pane fade show active" id="nav-open" role="tabpanel">
                    <br/>
                    <small class="d-block w-100 text-center">Viewing 10 Most Recent Open Orders</small>
                    <a class="btn btn-sm btn-block" style="margin-bottom: 1rem;">View All Open Orders</a>
                    <hr/>
                    <ul class="list-group list-group-flush">
                        <vc:order-peek view="2"/>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-closed" role="tabpanel">
                    <br/>
                    <small class="d-block w-100 text-center">Viewing 10 Most Recent Closed Orders</small>
                    <a class="btn btn-sm btn-block" style="margin-bottom: 1rem;">View All Closed Orders</a>
                    <hr/>
                    <ul class="list-group list-group-flush">
                        <vc:order-peek view="3"/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>