@model KurbSide.Models.Business
@{
    ViewData["Title"] = "Business Dashboard";
}

@*<div class="card-group">*@

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-sm-center">@Model.BusinessName</h5>
            <p class="card-text text-sm-center">@Model.BusinessId</p>
        </div>
    </div>

@*</div>*@

<br />

<div class="card-group">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-sm-center">Business Links</h5>
            <p class="card-text">
                <div class="btn-group-vertical w-100" role="group">
                    <a asp-controller="business" asp-action="edit" class="btn btn-secondary">Edit Business Info</a>
                    <a asp-controller="business" asp-action="hours" class="btn btn-secondary">Edit Hours</a>
                    <a asp-controller="business" asp-action="pickupWindows" class="btn btn-secondary">Edit Pickup Windows</a>
                    <a asp-controller="business" asp-action="catalogue" class="btn btn-secondary">Edit Catalogue</a>
                    <a asp-controller="business" asp-action="orders" class="btn btn-dark">All Orders</a>
                    <a asp-controller="business" asp-action="reporting" class="btn btn-dark">Reporting</a>
                </div>
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-sm-center">Today's Orders</h5>
            <p class="card-text">
                <ul class="list-group">

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="badge badge-dark badge-pill">15:00-15:30</span>
                            #12004 - Firstname Lastname
                        </span>
                        <span class="badge badge-success badge-pill">Open</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-light">
                        <span>
                            <span class="badge badge-dark badge-pill">13:00-13:30</span>
                            #12003 - Firstname Lastname
                        </span>
                        <span class="badge badge-secondary badge-pill">Closed</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-light">
                        <span>
                            <span class="badge badge-dark badge-pill">10:00-10:30</span>
                            #12002 - Firstname Lastname
                        </span>
                        <span class="badge badge-secondary badge-pill">Closed</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-light">
                        <span>
                            <span class="badge badge-dark badge-pill">09:00-09:30</span>
                            #12001 - Firstname Lastname
                        </span>
                        <span class="badge badge-secondary badge-pill">Closed</span>
                    </li>

                </ul>
            </p>
        </div>
        @*<div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>*@
    </div>

</div>