<style>
    /* will convert to stylesheet later :) */
    body {
        z-index: 0;
    }

    .background-image {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: -1;
        background-image: url(/img/bg/pexels-josh-sorenson-139303.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        height: 100vh;
        width: 100vw;
        opacity: .75;
    }

    footer {
        margin-top: 10em;
        background-color: white;
    }
</style>

<div class="background-image"></div>