.vertical-center-align {
    display: flex;
    align-items: center;
}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    width: 1.15rem;
    height: 1.15rem;
}

.checkbox-lg .custom-control-label {
    padding-left: 6px;
}
