<div class="card text-center">
    <div class="card-body">
        <p class="card-text">
            This page will automatically refresh in <span id="countdown"></span> seconds.
            <span class="badge badge-primary pointer" onclick="location.reload(true);">Refresh Now</span>
        </p>
    </div>
</div>
<br>
<script>
        (function countdown(remaining) {
            if(remaining === 0)
                location.reload(true);
            document.getElementById('countdown').innerHTML = remaining;
            setTimeout(function(){ countdown(remaining - 1); }, 1000);
        })(@Model);
</script>