@page
@model IndexModel
@{
    ViewData["Title"] = "My Account";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4><br />   
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!String.IsNullOrEmpty(Model.BusinessId))
            {
                <div class="form-group">
                    <label asp-for="BusinessId"></label>
                    <input asp-for="BusinessId" class="form-control" disabled />
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.MemberId))
            {
                <div class="form-group">
                    <label asp-for="MemberId"></label>
                    <input asp-for="MemberId" class="form-control" disabled />
                </div>
            }
            @*<button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>*@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}